.table td, .table th {
    border: none;
}

table.table.table-striped {
    border: 1px solid #ffffff;
}
table.table.table-striped>thead>tr{
    background-color: #424345;
}
table.table.table-striped>thead>tr>th{
    color: white;
}